.food{
  display: block;
  margin: auto;
  width: 400px;
  height: 350px;
  border-radius: 10px;
}
.hyd1{
 text-align: center;
}
.hyd2{
     background-color: yellow;
     display: inline-block;
     padding: 5px;
     margin-top: 10px;
     border-radius: 10px;
}
.hyd4 {
 background-color: aqua;
}